ul.asideList {
  border-right: 2px solid rgb(50, 50, 50);
  list-style-type: none;
  flex: none;
  padding: 20px;
  width: 220px;
  overflow: hidden auto;

  &::-webkit-scrollbar {
    display: block;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid rgb(50, 50, 50);
    border-right: none;
  }

  & > li {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 10px;
    width: 100%;
  }

  & > hr {
    margin: 20px 0 15px;
  }
}
