.taskBoard {
  background-color: white;
  border-left: 3.5px dashed rgb(200, 200, 200);
  height: stretch;
  width: 100%;
  max-width: 400px;
  transform: translateX(100%);
  transition: ease-in 0.3s;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0;

  & > svg.closeIcon {
    border: 3.5px dashed rgb(200, 200, 200);
    border-top: none;
    border-right: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 2.8rem;
    transform: translateX(-100%);
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  & > svg.deleteIcon {
    border: 2px solid gray;
    border-right: none;
    border-top: none;
    cursor: pointer;
    font-size: 2.3rem;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  & > input[type="text"].title {
    border: none;
    display: block;
    font-size: 1.5rem;
    padding: 10px 20px;
    padding-left: 0;
    width: 100%;
    max-width: 340px;
    outline: none;
  }

  & > p.time {
    align-items: center;
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    & > span {
      align-items: center;
      background-color: rgb(150, 150, 150);
      color: white;
      font-size: 0.9em;
      display: flex;
      margin-right: 7px;
      padding: 2px 5px;
      width: 80px;
    }
  }

  & > textarea.description {
    background-color: #f2f2f2;
    border: none;
    color: #44403b;
    font-size: 0.95rem;
    padding: 15px;
    width: 100%;
    resize: none;
    outline: none;
  }

  & > div.lineconf {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto 10px;
    width: 90%;

    & > i {
      cursor: pointer;
      margin-bottom: 0;
      border: 3px solid #a6a09b;
    }

    & > p {
      align-items: center;
      display: flex;
    }
  }

  & > div.sublist {
    display: flex;
    flex-direction: column;
    padding: 5px;

    & > div {
      align-items: center;
      display: flex;

      & > input[type="checkbox"] {
        accent-color: #d8d8d8;
        border: none;
        margin-right: 5px;
        height: 20px;
        width: 20px;

        &:hover {
          accent-color: rgb(190, 190, 190);
        }
      }
    }

    input[type="text"] {
      background-color: #f2f2f2;
      border: none;
      font-size: 1rem;
      display: block;
      margin-bottom: 5px;
      padding: 5px 10px;
      width: 100%;
      outline: none;
    }
  }

  i {
    align-items: center;
    border-left: 3px solid #a6a09b;
    color: #79716b;
    display: flex;
    font-style: normal;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 0px 8px;

    & > span {
      align-items: center;
      display: flex;
      font-size: 0.9rem;
    }
  }
}

button[type="button"].cleanDatePicker {
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  float: left;
  display: flex;
  margin-bottom: 8px;
  margin-right: 10px;
  padding: 3px 6px;
  outline: none;
}

select.projectsListSelector {
  border: none;
  transform: translateY(100%);
  padding: 5px 10px;
  outline: none;
  position: absolute;
  bottom: -8px;
  right: -2px;
}
