.taskBoard {
  background-color: white;
  border-left: 4px dashed rgb(200, 200, 200);
  width: 40%;
  height: 100%;
  transform: translateX(100%);
  transition: ease-in 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
