.taskBoard {
  background-color: white;
  border-left: 3.5px dashed rgb(200, 200, 200);
  width: 100%;
  max-width: 400px;
  height: 100%;
  transform: translateX(100%);
  transition: ease-in 0.3s;
  padding: 10px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 0;

  & > svg.closeIcon {
    border: 3.5px dashed rgb(200, 200, 200);
    border-top: none;
    border-right: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 2.8rem;
    transform: translateX(-100%);
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  & > svg.deleteIcon {
    border: 2px solid gray;
    border-right: none;
    border-top: none;
    cursor: pointer;
    font-size: 2.3rem;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  & > p.title {
    display: block;
    font-size: 1.5rem;
    padding: 10px 20px;
    padding-left: 0;
    width: 100%;
    max-width: 350px;
  }

  & > p.time {
    align-items: center;
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    & > span {
      align-items: center;
      background-color: rgb(150, 150, 150);
      color: white;
      font-size: 0.9em;
      display: flex;
      margin-right: 7px;
      padding: 2px 5px;
      width: 80px;
    }
  }
}
